<div class="card-body px-lg-5 py-lg-5">
  <div class="text-center">
    <h1 class="d-inline-block mb-4">Change password</h1>
  </div>
  <!-- <div class="text-center text-muted mb-4">
    <small>Or sign in with credentials</small>
  </div> -->
  <form [formGroup]="changePassword" (ngSubmit)="submit()" *ngIf="!!changePassword" >
    <!-- <div class="form-group mb-3">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
        </div>
        <input class="form-control" placeholder="Email" type="email" formControlName="email"
          [class.is-invalid]="submitted && loginForm.controls.email.errors " />
      </div>
       <small *ngIf="submitted && loginForm.controls.email.errors" class="text-danger text-center">Enter valid
        Email
      </small>
    </div> -->
    <div class="form-group">
      <div class="input-group input-group-alternative">

        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
        </div>
        <input class="form-control" formControlName = oldPassword placeholder="Current Password" type="password" >
      </div>
      <small *ngIf="f('oldPassword').touched && f('oldPassword').errors?.required" class="text-danger text-center">
        Password is required
      </small>
      <small *ngIf="f('oldPassword').touched && f('oldPassword').errors?.currentPasswordIncorrect" class="text-danger text-center">
          Incorrect current password
      </small>

    </div>
    <div class="form-group">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
        </div>
        <input class="form-control" formControlName = newPassword placeholder="New Password" type="password"
          >
      </div>
        <small *ngIf="f('newPassword').touched && f('newPassword').errors?.required" class="text-danger text-center">
          Password is required
        </small>
      <!-- <small *ngIf="submitted && resetPasswordForm.controls.confirmPassword.errors?.mustMatch"
        class="text-danger text-center">password does not match.
      </small> -->
    </div>

    <div class="form-group">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
        </div>
        <input class="form-control" formControlName = confirmNewPassword placeholder="Confirm Password" type="password"
          >
      </div>
        <small *ngIf="f('confirmNewPassword').touched && f('confirmNewPassword').errors?.required" class="text-danger text-center">
          Password is required
        </small>
        <small *ngIf="f('confirmNewPassword').touched && changePassword.errors?.passwordNotMatch" class="text-danger text-center">
            Password did not match
        </small>
    </div>
    <div class="text-center">
      <button type="button" (click)="close()" class="btn btn-danger my-4">Cancel</button>
      <button type="submit" class="btn btn-success my-4" [disabled]=!changePassword.valid >Change Password</button>
    </div>
  </form>
  <div class='text-center'>
    <!-- <small [hidden]='!pass' class="text-danger text-center">
      Please Enter Valid Emial & Password. </small>
  </div> -->
  </div>
</div>