<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <!-- <div class="col-lg-5 col-md-6">
          <h1 class="text-white"></h1>
          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for
            free.</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">


        <div class="card-body px-lg-5 py-lg-5" *ngIf='emailSent ; else email'>
          <div class="text-center">
            <h1 class="">We sent a recovery link to your email address</h1>
            <small>{{forgotPasswordForm.value.email}}</small>
          </div>

          <div class="col-12 text-center mb-2">
            <a href="javascript:void(0)" class="text-light " [routerLink]="['/auth/login']">
              <h3 class="font-weight-bold">
                << Go to Login </h3> </a> </div> </div> <ng-template #email>

                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center">
                      <h2 class="d-inline-block mb-4">Forgot your password ?</h2>
                      <div class="pb-3">
                        <small>Enter your email address and we will send you a link to reset your password.</small>
                      </div>
                    </div>

                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">

                      <div class="form-group" [ngClass]="{ 'is-invalid': formError.email }">
                        <div class="input-group input-group-alternative mb-0">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                          </div>
                          <input class="form-control" placeholder="Email" type="email" formControlName="email">
                        </div>
                        <div class="invalid-feedback">
                          {{formError.email}}
                        </div>
                      </div>

                      <div class="text-center">
                          <app-button [btnType]="'submit'" [loading]="loading">
                              Next
                            </app-button>
                      </div>
                    </form>

                  </div>
                  </ng-template>
          </div>
          <div class="row mt-3">
            <div class="col-6">

            </div>
            <div class="col-6 text-right">
              <a href="javascript:void(0)" class="text-light" [routerLink]="['/auth/register']"><small>Create new
                  account</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
