<div class="header pb-8 pt-6 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add user</h3>
            </div>
            <div class="col-4 text-right">
              <a href="javascript:;" class="btn btn-link text-primary" [routerLink]="['/users/list']">Back</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="userRegister" (ngSubmit)="onSubmit()">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group" [ngClass]="{'is-invalid':formError.firstName}">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                      formControlName="firstName" placeholder="First name">

                      <div class="invalid-feedback">
                          {{formError.firstName}}
                        </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group"[ngClass]="{'is-invalid':formError.lastName}">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      formControlName="lastName" placeholder="Last name">
                      <div class="invalid-feedback">
                          {{formError.lastName}}
                        </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group" [ngClass]="{'is-invalid':formError.phone}">
                    <label class="form-control-label" for="input-phone">Phone</label>
                    <input type="text" id="input-phone" class="form-control form-control-alternative"
                      placeholder="Phone" formControlName="phone" mask="(000) 000-0000">
                      <div class="invalid-feedback">
                          {{formError.phone}}
                        </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"[ngClass]="{'is-invalid':formError.email}">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input id="input-email" class="form-control form-control-alternative" placeholder="Email"
                      formControlName="email" type="email">
                      <div class="invalid-feedback">
                          {{formError.email}}
                        </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'is-invalid':formError.password}">
                    <label class="form-control-label" for="input-password">Password</label>
                    <input id="input-password" class="form-control form-control-alternative" placeholder="Password"
                      formControlName="password" type="password">
                      <div class="invalid-feedback">
                          {{formError.password}}
                        </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"  [ngClass]="{'is-invalid':formError.gender}">
                    <label for="inputAddress" class="form-control-label">Gender</label>
                    <div class="form-row">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="male" formControlName="gender"
                          name="gender" value="male">
                        <label class="custom-control-label" for="male">Male</label>
                      </div>

                      <div class="custom-control custom-radio ml-5">
                        <input type="radio" class="custom-control-input" id="female" formControlName="gender"
                          name="gender" value="female">
                        <label class="custom-control-label" for="female">Female</label>
                      </div>
                      <div class="invalid-feedback">
                          {{formError.gender}}
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-control-label" for="input-address">Admin</label>
                  <div class="form-group">
                    <label class="custom-toggle">
                      <input type="checkbox" formControlName="admin">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Social (Optional)</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="website">Website</label>
                    <input type="text" id="website" class="form-control form-control-alternative"
                      formControlName="website" placeholder="Website">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="facebook">Facebook</label>
                    <input type="text" id="facebook" class="form-control form-control-alternative"
                      formControlName="facebook" placeholder="Facebook">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="twitter">Twitter</label>
                    <input type="text" id="twitter" class="form-control form-control-alternative"
                      formControlName="twitter" placeholder="Twitter">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="google">Google</label>
                    <input type="text" id="google" class="form-control form-control-alternative"
                      formControlName="google" placeholder="Google">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="vk">VK</label>
                    <input type="text" id="vk" class="form-control form-control-alternative" formControlName="vk"
                      placeholder="VK">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="github">Github</label>
                    <input type="text" id="github" class="form-control form-control-alternative"
                      formControlName="github" placeholder="Github">
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                    <app-button [btnType]="'submit'" [loading]="loading">
                        Save information
                      </app-button>
                  <button class="btn btn-link text-default" type="button">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
